<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Description des Métiers</title>
    <link rel="stylesheet" href="../static/describe.css">
</head>
<body>
    <div class="hotbar">
        <h1 class="h1-hot">Rapport de stage</h1>
        <p>Du 27 au 31 janvier 2025</p>
        <p><strong>Adrien Courault</strong></p>
        <p><strong>Classe : 3°A</strong></p>
    </div>

    <div class="container">
        
        <aside class="sidebar">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h2>Table des matières :</h2>
            <ul>
                <li><a href="{% url "home" %}">I) Introduction</a></li>
                <li><a href="{% url "presentation" %}">II) Présentation de l’entreprise</a></li>
                <li><a href="{% url "deroulement" %}">III) Déroulement du stage</a></li>
                <li><a href="{% url "describe" %}">IV) Description d’un ou plusieurs métiers</a>
                    {% comment %} <ul>
                        <li>Développeur</li>
                        <li>Technicien</li>
                    </ul> {% endcomment %}
                </li>
                <li><a href="{% url "conditions" %}">V) Conditions de travail</a></li>
                <li><a href="{% url "merci" %}">VI) Remerciements</a></li>
                <li><a href="{% url "conclusion" %}">VII) Conclusion</a></li>
            </ul>
        </aside>

        <main class="main-content">
            <div class="container">
                <div class="dev-container">
                    <div class="dev-text">
                        <h2>1) Développeur</h2>
                    
                        
                        <h3>En quoi consiste ce métier, les compétences et qualités nécessaires pour exercer ce métier :</h3>
                        <p>
                            Le métier de développeur consiste à concevoir, coder et améliorer des logiciels ou des applications en utilisant divers langages de programmation, tout en résolvant des problèmes techniques et en s’adaptant aux besoins des utilisateurs.
                            Un développeur doit faire preuve de patience et de persévérance pour trouver les erreurs dans un programme ; il doit également être capable de remettre en question sa façon de traiter les informations, sa manière de rédiger son code afin de corriger ces erreurs.
                        </p>
            
                        <h3>Parcours scolaire et professionnel :</h3>
                        <p>
                            Pour devenir développeur, Erwan a fait un BAC technologique STI2D puis un DUT informatique (Diplôme Universitaire Technologique) suivi d’une licence web.
                            C’est la voie la plus classique pour accéder à ce métier mais il existe beaucoup d’autres cursus.
                        </p>
            
                        <h3>Le salaire, les avantages, les inconvénients :</h3>
                        <p>
                            Un développeur peut gagner entre 2000€ et 4000€ par mois en fonction de son ancienneté.
                            Être développeur est un métier qui comporte des inconvénients. Par exemple, corriger le code de quelqu’un d’autre n’est pas toujours simple car celui-ci ne réfléchit pas et ne construit pas son programme de la même façon. 
                            Ce métier comporte aussi des avantages comme celui de pouvoir travailler sans avoir à se déplacer. C’est également un travail créatif et stimulant.
                        </p>
            
                        <h3>Ce qui me plaît, ce qui me déplaît dans ce métier :</h3>
                        <p>
                            J’apprécie le fait de pouvoir travailler dans une grande tranquillité et autonomie que l’on ne peut pas forcément avoir dans le métier de technicien où on est plus fréquemment exposé au client.
                            En revanche, j’apprécie moins le fait de devoir travailler uniquement sur un ordinateur et à me passer de conceptions manuelles comme il y en a dans le métier de technicien.
                        </p>

                    </div>
                    {% load static %}
                    <img src="{% static "logo-dev.png" %}" alt="Logo Développeur" class="dev-img1">
                </div>
                    
                
                <div class="dev-container">
                    <div class="dev-text">
                        <h2>2) Technicien</h2>
                        <h3>En quoi consiste ce métier, les compétences et qualités nécessaires pour exercer ce métier :</h3>
                        <p>
                            Le métier de technicien informatique consiste à installer, maintenir et dépanner les systèmes et réseaux informatiques afin d’assurer leur bon fonctionnement et leur sécurité, tout en assistant les utilisateurs en cas de problème technique.
                            Être technicien est un métier qui demande de la patience et de la persévérance mais aussi de l’écoute et de l’adaptabilité.
                        </p>
            
                        <h3>Parcours scolaire et professionnel :</h3>
                        <p>
                            Le parcours scolaire pour devenir technicien demande au minimum un BTS (BAC+2) et si possible des formations supplémentaires (formation continue).
                        </p>
            
                        <h3>Le salaire, les avantages, les inconvénients :</h3>
                        <p>Un technicien peut gagner environ 2000 euros par mois en début de carrière, avec une évolution salariale en fonction de l’expérience et des responsabilités.</p>
                        <p>Ce métier offre plusieurs avantages. Tout d’abord, il permet de travailler sur des missions variées, allant de la maintenance des réseaux à la configuration des serveurs. De plus, il garantit une bonne stabilité d’emploi, car les entreprises ont constamment besoin de techniciens pour gérer leur infrastructure informatique. </p>
                        <br>
                        <p>
                            Il y a aussi une forte entraide entre collègues, ce qui favorise un bon environnement de travail. Enfin, c’est un métier qui offre des possibilités d’évolution vers des postes spécialisés comme administrateur systèmes et réseaux ou ingénieur en cybersécurité, avec de l’expérience et des formations complémentaires.
                            
                        </p>
                        <p>Cependant, ce métier comporte aussi des inconvénients. L’incompréhension et l’exigence des clients peuvent être frustrantes, car ils ne comprennent pas toujours les problèmes techniques et attendent une solution immédiate. La gestion des urgences est une autre contrainte, car il faut parfois intervenir rapidement sur des pannes critiques, ce qui peut être stressant avec des horaires parfois imprévisibles. </p>
                        <p>Enfin, la rémunération évolue plus lentement que dans d’autres métiers de l’informatique, comme le développement ou l’ingénierie.</p>
            
                        <h3>Ce qui me plaît, ce qui me déplaît dans ce métier :</h3>
                        <p>
                            J’apprécie avant tout la diversité des tâches et l’évolutivité de ce métier. Chaque jour apporte de nouveaux défis, que ce soit la configuration de serveurs, la gestion des réseaux ou le dépannage de machines. J’aime également l’impact concret du travail, car on voit immédiatement les résultats de nos actions sur le bon fonctionnement des systèmes informatiques.
                            Cependant, certains aspects me plaisent moins comme la relation avec les clients qui peut parfois être frustrante. Je ne pense pas que j’aimerais travailler en dehors de mes horaires habituels pour effectuer des dépannages urgents.
                        </p>
                    </div>
                    <br>
                    <br>
                    {% load static %}
                    <img src="{% static "logo-technicienpng.png" %}" alt="Logo Technicien" class="dev-img">


                </div>
                
            </div>
            
                
        </main>
    </div>
</body>
</html>
